header {
  background: var(--color-dark-1);
  grid-area: 1/1/3/13;
  font-size: 1.5em;
  color: var(--color-light-4);
  min-height: 20vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

img {
  height: 20vh;
  width: 20vh;
  margin: 0.2em 0 0.2em 0.2em;
}
.talk-bubble {
  display: inline-block;
  position: relative;
	width: fit-content;
	height: fit-content;
  background-color: white;
  font-size: 1.2vw;
  color: black;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-weight: 800;
  border-radius: 8px;
  margin: 0.5em 0 0 0;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -3vh;
	right: auto;
  top: 4vh;
	bottom: auto;
	border: 12px solid;
	border-color: white white transparent transparent;
}

.talktext{
  padding: 1em;
	text-align: center;
  
}
.talktext p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}