.statisticsContainer {
  background: var(--color-light-2);
  grid-area: 8/10/9/13;
  margin: 0 2em 0 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 25vh;
  width: auto;
  height: 60vh;
  margin: 0;
}

.statisticsContainer h3 {
  margin: 0 0 5vh 2vh;
  font-weight: 600;
}

.statisticsTitle {
  text-align: center;
  margin: 0 0 0 0;
  color: var(--color-dark-4);
  font-size: 1vw;
  text-transform: uppercase;
}

#bar-chart {
  width: auto;
  height: auto;
}
