.statistics {
  background: var(--color-light-2);
  grid-area: 5/10/13/13;
  margin: 0 2em 0 0.5em;
}
.statistics h3 {
  margin: 0 0 5vh 2vh;
  font-weight: 600;
}

#adVisualStatistics {
  text-align: center;
  margin: 0.5em 0 0 0;
}
#bar-chart {
  margin-top:200px;
  width: auto;
  height: auto;
}

#chart {
  width: auto;
  height: auto;
  margin: 0;
}
